@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hidden {
  scrollbar-width: none;
}

.topgradient {
  animation: topanimation 10s linear 0s infinite;
}

@keyframes topanimation {
  0% {
    transform: translate(0%,0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translate(-100%,-100%);
  }
  75% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0%,0%);
  }
}

.bottomgradient {
  animation: bottomanimation 10s linear 0s infinite;
}

@keyframes bottomanimation {
  0% {
    transform: translate(0%,0%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translate(100%,100%);
  }
  75% {
    transform: translateY(100%);
  }
  100% {
    transform: translate(0%,0%);
  }
}